<%- include('../partials/header') %>


    <h2>Workout</h2>
        <p class="workoutDetails"><strong>Exercise</strong> <%= workout.exercise %></p>
        <p class="workoutDetails"><strong>Reps</strong> <%= workout.reps %></p>
        <p class="workoutDetails"><strong>Sets</strong> <%= workout.sets %></p>
        <p class="workoutDetails"><strong>Time</strong> <%= workout.time %></p>
        <p class="workoutDetails"><strong>Date</strong> <%= workout.date.toLocaleString('en-US', { year: 'numeric' , month: 'numeric' , day: 'numeric' }) %></p>

    <h3 class="workoutNotes">Notes</h3>
    <div class="workoutNotes">
   
        <% if (workout.notes) { %>
        <% workout.notes.forEach(function(note) { %>
            <div class="note">
                <%= note.content %>
            <form action="/workouts/<%= workout._id %>/deleteNote/<%= note._id %>?_method=DELETE" method="POST" style="display: inline;" id="deleteForm">
                <button type="submit" style="background:none; border:none; cursor:pointer;" class="deleteButton"><span class="material-symbols-outlined">delete</span></button>
            </form>
        </div>
            <% }) %>
            <% } else { %>
                <p>No notes available!</p>
                <% } %>
            
            </div>
                <form action="/workouts/<%= workout._id %>/addNote" method="post">
                    <label for="note"></label>
                    <textarea name="content" id="note" rows="5" cols="30"></textarea>
                    <p><button type="submit">Add Note</button></p>
                </form>

                <button onclick="location.href='/workouts/<%= workout.id %>/edit'" class="editWorkout">Edit Workout</button>
        

<%- include('../partials/footer') %>