<%- include('../partials/header') %>


    <h2>Workout</h1>
        <p>Exercise <%= workout.exercise %></p>
        <p>Reps <%= workout.reps %></p>
        <p>Sets <%= workout.sets %></p>
        <p>Time <%= workout.time %></p>
        <p>Date <%= workout.date.toLocaleString('en-US', { year: 'numeric' , month: 'numeric' , day: 'numeric' }) %></p>

    <h3>Notes</h3>
        <% if (workout.notes) { %>
        <%= workout.notes %>
        <form action="/workouts/<%= workout._id %>/deleteNote" method="POST" style="display: inline;">
            <button type="submit" style="background:none; border:none; cursor:pointer; ">🗑</button>
        </form>
         <% } else { %>
            <p></p>
        <% } %>
        <form action="/workouts/<%= workout._id %>/addNote" method="post">
        <label for="note"></label>
        <textarea name="note" id="note" rows="5" cols="30"></textarea>
        <p><button type="submit">Add Note</button></p>
        </form>
        


<%- include('../partials/footer') %>