<%- include('../partials/header') %>

<h2>Calories Burn Tracker</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Calories Burn</th>
            </tr>
        </thead>
        <tbody>
            <% trackers.forEach(function(tracker) { %>
                <tr>
                    <td>
                        <%= tracker.date.toLocaleString('en-US', { year: 'numeric' , month: 'numeric' , day: 'numeric'}) %>

                    </td>
                    <td>
                        <%= tracker.waterIntake %>
                    </td>
                    <td>
                        <form action="/trackers/<%= tracker._id %>?_method=DELETE" method="POST"
                            style="display: inline;">
                            <button type="submit" style="background:none; border:none; cursor:pointer; ">🗑</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="/trackers/caloriesBurn">Back to Calories Burn</a>
  
<%- include('../partials/footer') %>