<%- include('../partials/header') %>

<h2>Weight Tracker</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Water Intake</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% trackers.forEach(function(tracker) { %>
                <tr>
                    <td>
                        <%= tracker.date.toLocaleString('en-US', { year: 'numeric' , month: 'numeric' , day: 'numeric'}) %>

                    </td>
                    <td>
                        <%= tracker.waterIntake %>
                    </td>
                    <td>
                        <form action="/trackers/<%= tracker._id %>?_method=DELETE" method="POST"
                            style="display: inline;" id="deleteForm">
                            <button type="submit" style="background:none; border:none; cursor:pointer;"  class="deleteButton"><span class="material-symbols-outlined">delete</span></button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="/trackers/waterIntake" class="steps">Back to Water Intake</a>
  
<%- include('../partials/footer') %>


